/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h4 {
  font-weight: normal; /* Убираем жирное начертание */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  background: transparent;
  border: none;
  text-decoration: none;
  block-size: 26px;
}

/* Декоративные уголки */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--corner-offset);
  right: var(--corner-offset);
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: var(--corner-offset);
  left: var(--corner-offset);
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

/* Стили для выделенного текста */
.title-decor {
  background-color: var(--decor-bg);
  color: var(--decor-text);
}
