/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --main-bg-color: var(--light-bg-color);
  --accent-color: var(--light-accent);
  --text-color: var(--light-text);
  --title-color: var(--light-title);
  --header-text: var(--light-header-text);
  --bg-image: var(--bg-image-light);
  --decor-color: var(--light-text);
  --decor-bg: var(--light-accent);
  --decor-text: var(--light-text);
  --current-title-shadow: var(--light-title-shadow);
  --button-hover: rgba(50, 49, 45, 0.4);
  --header-description-bg: var(--light-accent);
  --header-description-text: var(--light-text);
  --menu-button-color: var(--light-text);
  --section-title-color: var(--light-text);
}

.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: var(--light-bg-color);
    --accent-color: var(--light-accent);
    --text-color: var(--light-text);
    --title-color: var(--light-title);
    --header-text: var(--light-header-text);
    --bg-image: var(--bg-image-light);
    --decor-color: var(--light-text);
    --decor-bg: var(--light-accent);
    --decor-text: var(--light-text);
    --current-title-shadow: var(--light-title-shadow);
    --header-description-bg: var(--light-accent);
    --header-description-text: var(--light-text);
    --menu-button-color: var(--light-text);
    --section-title-color: var(--light-text);
  }

  :root:not(.theme-dark) .section__title {
    color: var(--section-title-color);
  }

  .header__rec {
    display: none;
  }
}
