/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Цвета */
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --header-text: #000028;
  --title-shadow: #ff0070;

  /* Светлая тема */
  --light-bg-color: #fff1f7;
  --light-accent: #ff8dcb;
  --light-text: #353430;
  --light-title: #353430;
  --light-header-title: #FFC2E6;
  --light-header-text: #353430;
  --light-title-shadow: #ff8dcb;

  /* Шрифты */
  --main-font: "IBM Plex Mono", monospace;
  --base-font-size: 18px;
  --base-line-height: 1.3;

  /* Фоны */
  --bg-image-dark: url(../images/cover-image-dark.png);
  --bg-image-light: url(../images/cover-image-light.png);

  /* Высоты блоков */
  --header-section-height-mobile: 668px;
  --header-section-height-tablet: 1024px;
  --header-section-height-desktop: 768px;
  --gallery-row-height-small: 192px;
  --gallery-row-height-medium: 230px;
  --gallery-row-height-large: 318px;
  --gallery-row-height-desktop-small: 260px;
  --gallery-row-height-desktop-medium: 315px;
  --gallery-row-height-desktop-large: 433px;

  /* Отступы */
  --decor-corner-offset-mobile: 10px;
  --decor-corner-offset-tablet: 20px;
  --decor-corner-offset-desktop: 20px;
  --mobile-section-padding: 10px;
  --tablet-section-padding: 20px;
  --desktop-section-padding: 20px;

  /* REC элемент */
  --rec-icon-size: 9px;
  --rec-icon-offset: 8px;

  /* Позиционирование header (mobile) */
  --header-rec-to-menu-mobile: 56px;
  --header-menu-to-content-mobile: 50px;
  --mobile-title-to-description: 54px;
  --mobile-description-to-bottom: 45px;
  --mobile-description-width: 355px;

  /* Позиционирование header (tablet) */
  --tablet-rec-to-menu: 170px;
  --tablet-menu-to-content: 160px;
  --tablet-title-to-description: 162px;
  --tablet-description-to-bottom: 183px;
  --tablet-description-width: 364px;

  /* Позиционирование header (desktop) */
  --desktop-menu-to-content: 259px;
  --desktop-title-to-description: 113px;
  --desktop-description-to-bottom: 93px;
  --desktop-description-width: 491px;

  /* Декоративные элементы */
  --decor-color: var(--accent-color);
  --decor-bg: var(--accent-color);
  --decor-text: var(--header-text);
  --rec-color: var(--accent-color);
  --menu-button-color: var(--accent-color);
  --button-hover: rgba(255, 0, 112, 0.4);
  --header-description-bg: var(--accent-color);
  --header-description-text: var(--header-text);
}
