/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --header-text: #000028;
  --title-shadow: #ff0070;
  
  --light-bg-color: #fff1f7;
  --light-accent: #ff8dcb;
  --light-text: #353430;
  --light-title: #ffc2e6;
  --light-header-text: #353430;
  --light-title-shadow: #ff8dcb;

  --main-font: 'IBM Plex Mono', monospace;
  --base-font-size: 18px;
  --base-line-height: 1.3;

  --bg-image-dark: url(../images/cover-image-dark.png);
  --bg-image-light: url(../images/cover-image-light.png);

  --mobile-header-height: 668px;
  --tablet-header-height: 1024px;
  --desktop-header-height: 768px;
  
  --gallery-row-height-1: 192px;
  --gallery-row-height-2: 230px;
  --gallery-row-height-3: 318px;
  --desktop-gallery-row-height-1: 260px;
  --desktop-gallery-row-height-2: 315px;
  --desktop-gallery-row-height-3: 433px;

  --mobile-corner-offset: 9px;
  --tablet-corner-offset: 20px;
  --desktop-corner-offset: 20px;
  
  --mobile-section-padding: 10px;
  --tablet-section-padding: 20px;
  --desktop-section-padding: 20px;

  --rec-icon-size: 9px;
  --rec-icon-offset: 8px;

  --mobile-rec-to-menu: 71px;
  --mobile-menu-to-content: 71px;
  --mobile-title-to-description: 54px;
  --mobile-description-to-bottom: 45px;
  --mobile-description-width: 355px;

  --tablet-rec-to-menu: 190px;
  --tablet-menu-to-content: 175px;
  --tablet-title-to-description: 162px;
  --tablet-description-to-bottom: 183px;
  --tablet-description-width: 364px;

  --desktop-menu-to-content: 273px;
  --desktop-title-to-description: 114px;
  --desktop-description-to-bottom: 134px;
  --desktop-description-width: 491px;

  --decor-color: var(--accent-color);
  --decor-bg: var(--accent-color);
  --decor-text: var(--header-text);
  --rec-color: var(--accent-color);
  --menu-button-color: var(--accent-color);
  --button-hover: rgba(255, 0, 112, 0.4);
  --header-description-bg: var(--accent-color);
  --header-description-text: var(--header-text);
}